<h1>hello world</h1>

<% if logged_in? %> 
    <% cards.each do |hash| %>
    <h3>
        <a href="/cards/<%= hash["id"] %>"> <%= hash["id"] %> </a> 
    </h3>
    <%=hash['full_name']%>
<% end %>
<% end %>

