<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav>
    <% if logged_in? %>
    Hello: <%= current_user()['first_name'].capitalize %>

    <form action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>Logout</button>
    </form>
    <a href="/">Home</a>
    <a href="/cards/new">Upload new card</a>
    <a href="/saved_cards">Saved cards</a>
    <a href="/cards">Personal cards</a>
    <% else %>
      <a href="/login">Login</a>
    <% end %>

  </nav>
  <%= yield %>

</body>
</html>
