<h2>Login</h2>

<form action="/session" method="post">
    <input type="hidden">
    <label for="">Email</label>
    <input type="text" name="email">

    <label for="">Password</label>
    <input type="password" name="password">

    <button>login</button>
</form>