<h2>Create a new business card</h2>

<form action="/cards" method="post">
    <label for="">Email address</label>
    <input type="text" name="card_email">

    <label for="">Full name</label>
    <input type="text" name="card_fullname">

    <label for="">Logo</label>
    <input type="text" name="card_logo">

    <label for="">Mobile number</label>
    <input type="text" name="card_mobile">

    <label for="">Website</label>
    <input type="text" name="card_website">

    <label for="">Address</label>
    <input type="text" name="card_address">

    <button>Upload</button>
</form>