<div class="container">
    <h2>Create a new business card</h2>

    <form action="/cards" method="post" enctype="multipart/form-data">
        <div class="grid">
            <div class="left-grid">
                <input type="text" name="card_email" placeholder="Email address">
                <input type="text" name="card_fullname" placeholder="Full name">
                <input type="file" name="card_logo" placeholder="Logo">
            </div>

            <div class="right-grid">
                <input type="text" name="card_mobile" placeholder="Mobile number">
                <input type="text" name="card_website" placeholder="Website">
                <input type="text" name="card_address" placeholder="Address">
            </div>
        </div>
        <button>Upload</button>
    </form>
</div>

