<div class="container">
    <div class="search-form-wrapper">
        <form id="search-form" action="/list_cards">
            <input type="text" id="search-name" name="search-name" autocomplete="off" placeholder="Enter name...">
            <input type="image" id="submit-name-search" alt="Submit" src="/img/search.png">
        </form> 
    </div>
</div>